.Quote {
  background-color: #00000070;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 18px;
  padding: 1em;
  .quote {

  }
  .author {
    font-size: .75em;
    opacity: 0;
  }

  .show {
    animation: linear slide-up .3s forwards;
  }
  .hide {
    animation: linear slide-down .3s forwards;
  }

  @keyframes slide-up {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide-down {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

}