.Clock {
  background-color: #00000070;
  display: flex;
  flex-flow: column;
  align-items: center;
  p {
  }
  .time {
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
    font-size: 5em;
    * {
      text-align: center;
    }
    :first-child {
      flex: 2;
      text-align: right;
    }
    :last-child {
      flex: 2;
      text-align: left;
    }
    .ticker {
      flex: 1;
      min-width: .5em;
      line-height: 1.2em;
    }
  }
  .date {
    font-size: 2em;
  }
}
